/*
███╗░░░███╗░██████╗░
████╗░████║██╔═══██╗
██╔████╔██║██║██╗██║
██║╚██╔╝██║╚██████╔╝
██║░╚═╝░██║░╚═██╔═╝░
╚═╝░░░░░╚═╝░░░╚═╝░░░
*/

/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* >>>>>>>> I M P O R T A N T ! <<<<<<<<< */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* Special MQ for collapsing navigation bar at 991px viewport */
@media (max-width: 991px) {
    .navbar-header {float: none;}
    .navbar-toggle {display: block;}
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {display: none!important;}
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {float: none;}
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-collapse.collapse.in {display: block!important;}
}

/* >>>>> SM/XS <<<<< */
@media screen and (max-width: 991px){
    #smc_nav_collapse_1 {
        position: absolute;
        width: 100%;
        margin-top: -25px;
        background: #fafafa;
        border-top: 2px solid rgba(22, 74, 132, 0.42);
        padding-bottom: 24px;
        padding-top: 6px;
        z-index: 22;
        right: 0;
        left: 0;
    }

}

@media screen and (max-width: 767px){
    #smc_nav_collapse_1 {
        margin-top: 25px;
        left: 15px;
    }

    ul.dropdown-menu.smc_dropdown li {
        height: 46px !important;
        /*padding-top: 8px;*/
        /*padding-bottom: 8px;*/
    }

    ul.dropdown-menu.smc_dropdown li a {color: #84BF41 !important;}
    ul.dropdown-menu.smc_dropdown li a:hover {color: #ffffff !important;}

    .navbar-nav .open .dropdown-menu > li > a {line-height: 3;}

}




/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== NAVBAR + HEADER ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 1199px){
    ul.smc_main_menu li {margin-right: 2px;}
}

@media screen and (max-width: 991px){
    .header_logo {top: -75px; width: 25%;}

    ul.dropdown-menu.smc_dropdown {left: -75px;}
    ul.smc_main_menu li {text-align: right; margin-right: 85px;}

    ul.smc_main_menu {
        right: 0;
        top: 0;
        float: right !important;
    }

    a.smc_menu_link::after {bottom: 10px;}

    ul.dropdown-menu.smc_dropdown {top: 27px;}

    a#navbar_btn {line-height: 1.7; width: 80%; margin-top: 12px;}

    .expanding-sf {margin-top: 12px;}

    #searchform #s {
        height: 50px;
        top: -1px;
        width: 97vw;
    }
}

@media screen and (max-width: 767px){
    .header_logo {left: 15px; width: 171px; top: 0;}

    ul.smc_main_menu li {margin-right: 15px;}
    a#navbar_btn {width: 100%;}
}

@media screen and (max-width: 602px){
    .h_banner h1 {font-size: 2.4rem;}

    #searchform #s {width: 95vw;}
}

@media screen and (max-width: 525px){
    .header_logo {position: relative; width: 130px; top: 10px;}
    .h_banner {width: 96%;}
}





/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== HOMEPAGE ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 1199px){
    .h_banner_homepage {width: 70%;}

    .acc_logo {width: 135px;}

    .smc_laptop {height: 400px; top: 100px; right: 161px;}

    .distance_box_logo {width: 190px;}
    .distance_programbox {min-height: 750px;}
}

@media screen and (max-width: 991px){
    .h_banner_homepage {width: 88%;}

    .acc_logo {width: 108px;}

    .featurebox_content_holder h3 {font-size: 1rem;}
    article.featurebox_text p {font-size: 0.9rem;}

    .distance_program_box_outermost {width: 100%;}
    .distance_programbox {margin-bottom: 24px; height: auto;}

    .stat_circle {width: 135px; height: 135px; padding-top: 22px;}
    .number_and_text_wrapper h1 {font-size: 2.3rem;}
    .number_and_text_wrapper h5 {font-size: 0.9rem;}

    .adv_icon {float: none;}

    span.greycirlce_distance {right: -60%;}


}

@media screen and (max-width: 767px){
    .h_banner_homepage {padding-left: 32px;}
    .h_banner_homepage h1 {font-size: 3rem;}
    .h_banner_homepage p {font-size: 1.2rem;}

    .acc_logo {width: 99px;}
    .homepage_logos_area {width: 96%; margin: 0 auto;}

    .featurebox_content_holder h3 {font-size: 1.3rem;}
    article.featurebox_text p {font-size: 1rem;}

    .featurebox {margin-bottom: 24px;}

    span.redcirlce_significant {left: -60%;}
    .smc_devices {top: 0; right: 0; height: 422px;}

    .significant_text_holder {top: 16px;}

    .building_enterprise_text_holder {top: 0;}
    .smc_laptop {top: 40px; right: 283px;}

    .stat_circle {width: 200px; height: 200px; padding-top: 46px;}
    .number_and_text_wrapper h1 {font-size: 3rem;}
    .number_and_text_wrapper h5 {font-size: 1.1rem;}
    .homepage_stat_outerbox {margin-bottom: 55px;}
    .homepage_stat_outerbox:last-child {margin-bottom: 0;}

    .adv_icon {float: left;}


}

@media screen and (max-width: 716px){
    .acc_logo {width: 92px;}
    span.greycirlce_distance {display: none;}
}

@media screen and (max-width: 665px){
    .acc_logo {width: 80px;}
}

@media screen and (max-width: 578px){
    .acc_logo {width: 75px;}
    .distance_programbox {height: 625px;}
    .h_banner_homepage p {font-size: 1.1rem;}

    .smc_devices {height: 292px;}
}

@media screen and (max-width: 542px){
    ul.accreditation_logos_list {display: table; margin: 0 auto;}
    ul.accreditation_logos_list li {float: none;}
    .acc_logo {width: 128px; height: 74px;}
    .homepage_logos_area {padding-top: 24px; padding-bottom: 32px;}

    .f_title_holder h1 {font-size: 2.2rem;}
}

@media screen and (max-width: 505px){
    .h_banner_homepage {width: 96%;}

    .distance_programbox {height: 650px;}
    article.distance_programbox_text p {font-size: 0.9rem;}

    .smc_laptop {height: 310px; right: 330px;}

    .adv_box p {font-size: 1rem;}
}

@media screen and (max-width: 462px){
    .h_banner_homepage h1 {font-size: 2.4rem;}
    .h_banner_homepage p {font-size: 1rem;}

    .featurebox_content_holder h3 {font-size: 1.1rem;}
    article.featurebox_text p {font-size: 0.9rem; -webkit-line-clamp: 3;}
}

@media screen and (max-width: 414px){
    .adv_box p {font-size: 0.9rem;}

    .f_title_holder h1 {font-size: 2rem;}
}

@media screen and (max-width: 378px){
    .h_banner_homepage h1 {font-size: 2.2rem;}
    .h_banner_homepage p {font-size: 1.1rem;}
    .h_banner_homepage {top: 60px;}

    .smc_laptop {height: 280px;}

    .adv_icon {float: none;}

    .distance_programbox {min-height: 850px;}
}

@media screen and (max-width: 350px){
    .f_title_holder h1 {font-size: 1.88rem;}
    .h_banner_homepage {top: 50px;}
    .banner_logo {height: 90px;}
}

/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== STAR CIRCLE ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 991px){
    .star_banner {width: 90%;}
}

@media screen and (max-width: 560px){
    span.red_ghost_circle {width: 450px; height: 450px;}
    .star_mc_area {min-height: 800px; padding-top: 0; padding-bottom: 25px;}
}

@media screen and (max-width: 460px){
    .star_mc_area {min-height: 860px;}
    span.red_ghost_circle {width: 350px; height: 350px;}
}

@media screen and (max-width: 360px){
    .star_mc_area {min-height: 890px;}
    span.red_ghost_circle {width: 250px; height: 250px;}
}






/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== CERTIFICATIONS SECTION ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 991px){
    span.blu_ghost_circle {left: -50%;}
}

@media screen and (max-width: 500px){
    .wordcloud {top: 0;}
    .certif_area {padding-bottom: 40px;}
}

@media screen and (max-width: 414px){
    .wordcloud {top: 0;}
    .certif_area {padding-bottom: 20px;}
}



















/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== PROGRAMS MIDMAIN ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 1199px){
    .horizontal_key_titles_holder h5 {font-size: 0.9rem;}
    .horizontal_key_titles_holder p {font-size: 0.72rem;}

    .program_image_holder {min-height: 570px;}
    .program_box {min-height: 570px;}

    .program_box.rsrch_program_box {min-height: 600px;}
    .program_image_holder.rsrch_image_holder {min-height: 600px;}
}

@media screen and (max-width: 991px){
    .program_image_holder {min-height: 540px;}
    .program_box {min-height: 540px;}

    h2.programbox_title {font-size: 1.44rem;}
    h3.programbox_subtitle {font-size: 1.1rem;}

    .horizontal_key_titles_holder {top: -1px;}
    .horizontal_key_titles_holder h5 {font-size: 0.82rem;}
    .horizontal_key_titles_holder p {font-size: 0.5rem;}

    img.accreditation_shield {top: 0;}
    .shield_and_text small {font-size: 0.7rem;}

    button.learnmore_btn {width: 150px;}
}

@media screen and (max-width: 767px){
    .program_image_holder {min-height: 230px;}

    span.redcirlce_one {right: -25%;}

    .program_image_holder.rsrch_image_holder {min-height: 230px;}

    .program_box.rsrch_program_box {min-height: 600px;}
    .program_image_holder.rsrch_image_holder {
        height: 230px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .program_image_holder {
        height: 230px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .program_box_outerlayer {width: 96%; margin: 0 auto; margin-bottom: 90px;}
    .program_box {padding-bottom: 30px;}
    .k_factor_holder {display: flex; margin-bottom: 16px;}
    .k_factor_holder:last-child {margin-bottom: 0;}

    .horizontal_key_titles_holder {top: -5px;}
    .horizontal_key_titles_holder h5 {font-size: 1rem;}
    .horizontal_key_titles_holder p {font-size: 0.9rem;}
    .key_factors_stripe {padding-top: 16px;}

    article.program_general_info {width: 93%; margin: 0 auto; margin-bottom: 32px;}

    article.program_general_info p {font-size: 1rem;}
}

@media screen and (max-width: 603px){
    .program_box_outerlayer {margin-bottom: 60px;}

    .program_boxes_holder {width: 95%; margin: 0 auto;}
}

@media screen and (max-width: 505px){
    .accreditation_holder {padding-top: 22px;}
    .learnmore_btn_holder {float: none; top: 0; margin-top: 25px;}
    button.learnmore_btn {width: 180px; font-size: 0.8rem;}

    span.redcirlce_one {opacity: 0.1}
    span.bluecircle_one {opacity: 0.1}
}

@media screen and (max-width: 380px){
    img.accreditation_shield {top: -2px;}
    .shield_and_text small {font-size: 0.6rem; font-weight: 500;}
}






/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== FOOTER ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 1199px){
    .smc_footer {min-height: 420px;}
    .footer_logo {left: -20px;}
}

@media screen and (max-width: 991px){
    .footer_logo {height: 105px;}

    .footer_links_holder {padding-left: 6px;}

    ul.footer_socials li {margin-right: 16px;}
    ul.footer_socials li a {font-size: 1rem;}

    .footer_form_holder p {font-size: 0.8rem;}
}

@media screen and (max-width: 767px){
    .footer_logo {height: 125px;}

    .smc_footer_inner_content_holder {padding-top: 38px;}
    .footer_logo_holder {text-align: center;}
    .footer_logo {left: 0; text-align: center;}

    .footer_socials_holder {text-align: center;}
    ul.footer_socials {display: inline-block;}

    ul.footer_socials li:last-child {margin-right: 0;}
    ul.footer_socials li a {font-size: 1.3rem;}

    .footer_logo_and_socials_holder {margin-bottom: 32px;}

    .footer_links_holder {padding-left: 12%; margin-bottom: 22px;}

    .footer_subscribe_holder {width: 90%; margin: 0 auto; padding-left: 12%;}

    hr.footer_separator {margin-top: 2%; width: 96%;}

    .footer_bottommost_holder {bottom: 14px; text-align: center;}
    small.footer_bottomtext {text-align: center;}

    .footer_mini_list_holder {float: none; text-align: center; display: block; padding-top: 12px;}
    ul.footer_mini_list {text-align: center; display: inline-flex; padding: 0;}
}

@media screen and (max-width: 418px){
    .footer_links_holder {padding-left: 6%;}
    .footer_subscribe_holder {width: 96%; padding-left: 6%;}
}





/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== PROGRAM DETAILS ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 1199px){
    .sidebar_keyfactor_titles small {font-size: 0.6rem; width: 140px;}
    .fee_circle {width: 170px; height: 170px;}
    .fee_content_holder {min-height: 200px;}
}

@media screen and (max-width: 991px){
    .sidebar_content_holder {width: 94%;}
    .sidebar_content_holder_2 {width: 94%;}
    .sidebar_keyfactor_titles small {font-size: 0.8rem; width: 100%;}
    .sidebar_keyfactor_titles.long_txt_vertical_align {top: 0;}
}

@media screen and (max-width: 767px){
    .h_banner_for_details h1 {font-size: 2rem;}
}

@media screen and (max-width: 699px){
    .fee_circle {width: 150px; height: 150px;}
    .fee_content_holder {min-height: 170px;}
    .fee_holder_h1 {font-size: 2.2rem; margin-top: 20px;}
}

@media screen and (max-width: 630px){
    .tuition_box {min-height: 425px; margin-bottom: 110px;}
    .fee_circle_holder {width: 100%; text-align: center; min-height: 265px;}
    .fee_content_holder {width: 100%; text-align: center;}
    .fee_circle {display: inline-flex; width: 175px; height: 175px;}
    .fee_content_holder {border-left: none; border-top: 1px solid rgba(151, 151, 151, 0.26); left: 0;}

    span.bluecircle_two {right: -30%;}
    span.redcirlce_two {left: -74%;}
    span.greenhalfcircle.position_one {bottom: 1%; right: 41%;}
}

@media screen and (max-width: 410px){
    .tuition_box {min-height: 465px;}
    .topmost_stripe_h3 {font-size: 1.2rem; margin-top: 17px;}
}





/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== ALL PROGRAMS ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 1199px){
    button.more_info_mini_btn {margin-bottom: 8px;}
}

@media screen and (max-width: 991px){
    .intro_paragraph {width: 85%; margin: 0 auto;}
    .intro_paragraph p {font-size: 1rem;}
    .introduction_paragraph_area {padding-top: 36px;}

    .program_card {height: 345px;}
    button.more_info_mini_btn {margin-bottom: 12px;}
}

@media screen and (max-width: 767px){
    .program_cards_holder {padding-left: 20px; padding-right: 6px;}
    .program_card {height: 290px;}
    button.more_info_mini_btn {margin-bottom: initial}
}

@media screen and (max-width: 430px){
    .intro_paragraph p {font-size: 0.9rem;}
    .introduction_paragraph_area {padding-top: 28px;}
}

@media screen and (max-width: 390px){
    button.more_info_mini_btn {margin-right: 2px; width: 40%;}
    button.applynow_mini_btn {width: 40%;}
}

@media screen and (max-width: 340px){
    button.more_info_mini_btn {width: 47%;}
    button.applynow_mini_btn {width: 47%;}
}





/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== ENTERPRISE ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 1199px){
    span.arrow_one {height: 18px;}
    span.arrow_two {height: 18px;}
    .roadmap_title_h4 {font-size: 0.9rem;}
}

@media screen and (max-width: 991px){
    .process_details {padding-right: 0; padding-left: 0;}
    .process_details p {font-size: 0.88rem;}

    .custom_trainings_text_section {top: 0;}

    span.arrow_one {display: none;}
    span.arrow_two {display: none;}
}

@media screen and (max-width: 800px){
    .custom_trainings_abstract {right: 16px;}
}

@media screen and (max-width: 767px){
    .process_circles_holder {padding-top: 35px;}
    .process_details p {font-size: 1rem;}

    .process_circle_outerbox {margin-bottom: 65px;}
    .custom_trainings_abstract {right: 0; top: 25px; height: 200px;}

    .roadmap_steps_holder {padding-top: 12px;}
    .roadmap_shape {margin-bottom: 4px;}

    .roadmap_step_outerbox {margin-bottom: 65px;}

}

@media screen and (max-width: 680px){
    .custom_trainings_area {min-height: 655px;}
}

@media screen and (max-width: 625px){
    .custom_trainings_abstract {position: relative;}
    .custom_trainings_area {min-height: 700px;}
}






/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== ABOUT ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 1199px){
    span.about_red_circle_xl {bottom: -33%;}

    .about_laptop {left: -77%;}
}

@media screen and (max-width: 991px){
    .beginning_text_section {top: 8px;}

    .about_laptop {top: 50px; width: 610px;}
}

@media screen and (max-width: 767px){
    span.about_red_circle_xl {bottom: -25%;}
    .about_stat_outerbox {margin-bottom: 42px;}

    .schweiz {position: relative; margin-bottom: 32px;}
    .page_title_left.about {text-align: center;}
    hr.title_decoration_left.about {float: none;}
    .beginning_text p {text-align: center;}

    .about_laptop {left: 0; top: 0; margin: 0 auto; height: 340px; width: 100%;}
    .admission_text p {text-align: center;}
    .admission_apply_button_holder {text-align: center; margin-bottom: 42px;}
}

@media screen and (max-width: 570px){
    .admission_text_holder {top: 0;}
}

@media screen and (max-width: 525px){
    span.about_red_circle_xl {bottom: -22%;}

    .application_for_admission {padding-top: 0; padding-bottom: 25px;}
}

@media screen and (max-width: 420px) {
    .beginning_area {padding-bottom: 16px;}
}

@media screen and (max-width: 350px) {
    .beginning_area {padding-bottom: 0;}
}





/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== ABOUT ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 1199px){
    .phone_and_email_box_holder {padding-top: 50%;}
}

@media screen and (max-width: 991px){
    .phone_and_email_box_holder {padding-top: 70%;}
}

@media screen and (max-width: 767px){
    .map_outerbox {margin-bottom: 48px;}
    .phone_and_email_box_holder {padding-top: 5%;}

    .two_maps_holder {width: 96%; margin: 0 auto;}
    .phone_and_email_box_holder {width: 96%; margin:  0 auto;}
    .contact_form_holder {width: 96%; margin: 0 auto;}

    span.red_circle_contact {right: 50%;}
    span.cyan_circle_contact {top: 7%; right: -40%;}
}






/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== APPLICATION ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 1199px){
    .journey_text_holder {padding-top: 18px;}
    .journey_image {width: 345px; height: 345px;}
    .journey_area {min-height: 550px;}
}

@media screen and (max-width: 991px){
    .journey_text_holder {padding-top: 8px;}
    .journey_image {width: 275px; height: 275px;}
    .journey_area {min-height: 550px;}

    .smc_application_form {width: 100%;}
}

@media screen and (max-width: 767px){
    .journey_image_holder {top: 0;}
    .journey_image {margin: 0 auto;}

    h2.page_title_left.application {text-align: center;}
    hr.title_decoration_left.application {float: none;}
    .journey_text p {text-align: center;}
    span.application_cyan_circle {opacity: 0.1; top: 80%;}

    .smc_application_form {width: 96%;}

}

@media screen and (max-width: 710px){
    .application_form_label {width: 70%;}
}

@media screen and (max-width: 450px){
    .application_form_label {width: 90%;}
}

@media screen and (max-width: 375px){
    .parent_program_title_h3 {font-size: 0.66rem;}
    .child_program_title_h6 {font-size: 0.8rem;}

}





/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== SEARCH RESULTS ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 991px){
    .mini_header {position: relative; top: -25px;}
}

@media screen and (max-width: 767px){
    .search_results_area {width: 94%; margin: 0 auto;}
    span.notfound_red_circle {right: -125px;}
}

@media screen and (max-width: 440px) {
    .notfound_txt_holder h1 {font-size: 8rem;}
    .notfound_txt_holder h4 {font-size: 1.8rem;}

    span.notfound_red_circle {right: -145px; top: 5px;}
}





/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== ACADEMIC TEAM ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 991px){
    h5.filtertitle {font-size: 0.77rem; top: 14px;}
    .filter_submit_btn_holder {padding-left: 0;}
    button.filter_apply_btn {width: 100%;}
    span.academic_greycircle {left: -45%; top: 65%;}

}

@media screen and (max-width: 767px){
    .filter_box {padding-bottom: 32px;}
    button.filter_apply_btn {display: block; width: 200px; margin: 0 auto;}
    .filtericon_and_title {left: 0; display: flex; justify-content: center; top: -30px;}
    h5.filtertitle {font-size: 0.99rem; top: 3px;}
    .filter_selector_holder {top: -8px;}
    .academic_faces_holder {padding-top: 10px;}
    .academic_description {min-height: 140px;}
}





/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== METHODOLOGY ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 991px){
    .method_title_h4 {font-size: 0.8rem;}
}

@media screen and (max-width: 767px){
    .methods_circles_holder {padding-top: 24px;}
    .method_circle {margin-bottom: 12px;}
    .method_circle_outerbox {margin-bottom: 55px;}
}





/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== HOLISTIC ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 991px){
    .holistic_image {width: 270px; height: 270px; top: 36px; position: relative; margin: 0 auto;}
}

@media screen and (max-width: 767px){
    .holistic_image_holder {padding-left: 8px;}

    .outcome_tabs_holder {padding-left: 12px; padding-right: 12px; width: 65%; margin: 0 auto;}
    ul.outcome_pill {margin-bottom: 75px;}
}





/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== ACCREDITATION ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 1199px){
    .accreditation_image_holder {top: 90px;}

    .ghostlogo.logo1 {left: 160px;}
    .ghostlogo.logo2 {left: 280px;}
}

@media screen and (max-width: 1099px){
    .accr_logo {width: 200px;}
}

@media screen and (max-width: 991px){
    .ghostlogo.logo1 {left: 55px;}
    .ghostlogo.logo2 {left: 190px;}

    .ref_text_outermost {padding-left: 22px; padding-right: 22px;}
}

@media screen and (max-width: 860px){
    .accr_logo {width: 145px;}
}

@media screen and (max-width: 767px){
    .accreditation_text_section {border-right: none;}
    .accr_logo {width: 100%; float: none; margin-bottom: 50px;}
    .accr_logo.nchfe {height: 75px;}
    .accr_logo.mee {height: 75px;}

    .accr_box {margin-bottom: 32px;}

    .ghostlogo.logo1 {left: 30px; height: 100px;}
    .ghostlogo.logo2 {left: 30px; height: 200px;}

    .accreditation_text_section {margin-bottom: initial;}
    .accreditation_image_holder {margin-bottom: 125px;}
}

@media screen and (max-width: 620px){
    .accr_logo {margin-bottom: 40px;}
    .accr_logo.nchfe {height: 65px;}
    .accr_logo.mee {height: 65px;}
}

@media screen and (max-width: 470px){
    .ghostlogo.logo1 {height: 60px; opacity: 0.1;}
    .ghostlogo.logo2 {opacity: 0.1;}
}

@media screen and (max-width: 420px){
    .accr_logo {margin-bottom: 38px;}
}





/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== AGENTS ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 1199px){
    .represent_image {width: 300px; height: 300px;}

    .highlighted_announcement p {width: 80%;}
}

@media screen and (max-width: 991px){
    .h_banner h2 {font-size: 1rem;}
    .represent_image {width: 230px; height: 230px;}

    .general_offers_holder {width: 99%;}

    .highlighted_announcement p {width: 96%;}
}

@media screen and (max-width: 767px){
    .represent_image {margin:  0 auto; position: relative; z-index: 5;}
    .represent_image_holder {top: 10px;}
    .represent_textual_area {padding-left: 16px; padding-right: 16px;}

    .general_offers_holder {width: 70%; left: 0;}

    .op_box {min-height: 376px; height: auto;}
}

@media screen and (max-width: 670px){
    .highlighted_announcement p {width: 100%;}
}

@media screen and (max-width: 640px){
    .highlighted_announcement p {font-size: 1rem;}

    .agent_form {width: 96%;}
}

@media screen and (max-width: 580px){
    .highlighted_announcement p {font-size: 0.8rem;}
}

@media screen and (max-width: 480px){
    .highlighted_announcement p {top: 20px;}

    .attach_reqs p {font-size: 0.8rem;}
}

@media screen and (max-width: 500px){
    .general_offers_holder {width: 95%;}
    h2.page_title.massive_title {font-size: 2.2rem;}
}

@media screen and (max-width: 430px){
    h2.page_title.massive_title {font-size: 2rem;}
}

@media screen and (max-width: 380px){
    h2.page_title.massive_title {font-size: 1.8rem;}
}





/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* === MASTERCLASSES === */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 767px){
    .masterclass_box_bottommost_holder {min-height: 50px; height: auto;}
    .masterclass_learnmore_btn_holder {top: -16px; float: left;}
}





/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== CERTIFICATIONS ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 767px){
    .product_filter_holder {padding-top: 30px;}
    .product_boxes_pagination_holder {padding-top: 10px;}
    .suggestion_subtitle {padding-left: 16px;}
}





/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* =========== STAR MANAGER CIRCLE ========== */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 991px){
    .pricebox {margin-bottom: 32px;}
}

@media screen and (max-width: 767px){
    .star_intro_holder {width: 90%; margin: 0 auto;}
    .vendorbox {margin-bottom: 40px;}
}
















